# Вместо .dockerignore/.containerignore
# линковать на этот файл.

# ------------------------------------ PHP ----------------------------------- #
vendor
composer.lock
.env
*.zip

# --------------------------------- Terraform -------------------------------- #
*.tfstate
*.tfstate.*
.terraform.lock.hcl
.terraform/
*.tfplan
terraform.tfvars
*.tfvars
*.tfvars.json
